/* - - - - - - - - - - - - - - - - - - - - -

Title : LeefLabs Form Framework
Author : Study Lounge Inc.
URL : http://

Last Updated : 
- - - - - - - - - - - - - - - - - - - - - */

/* ----- INFO ----- */

.info{
	display:inline-block; 
	clear:both;
	margin:0 0 5px 0;
	padding:0 1% 1.1em 1%;
	border-bottom:1px dotted #ccc;
}
.info[class]{
	display:block;
}
.info h2{
	font-weight:normal;
	font-size:160%;
	margin:0 0 .2em 0;
	clear:left;
}
.info div{
	font-size:95%;
	line-height:135%;
	color:#555;
}

/* ----- Field Structure ----- */

form ul{
	margin:0;
	padding:0;
	list-style-type:none;
}
* html form ul{ /* IE6 Margin Percent Bug for Halves/Thirds */
	width:99%;
	zoom:1;
}
form li{
	margin:0;
	padding:3px 2px;
/*	clear:both;*/
}
form li:after, form li div:after{
	content:"."; 
	display:block;
	height:0; 
	clear:both; 
	visibility:hidden;
}
* html form li{height: 1%;margin-bottom:-3px;}
*+html form li{height: 1%;margin-bottom:-3px;}
* html form li div{display:inline-block;}
*+html form li div{display:inline-block;}

form li div{
	margin:0;
	padding:0;
	color:#444;
}
form li span{
	margin:0 .3em 0 0;
	padding:0;
	float:left;
	color:#444;
}

/* ----- Choices Field Structures ----- */

form li div span{
	margin:0;
	display:block;
	width:100%;
	float:left;
}
li.twoColumns div span{
	width:48%;
	margin:0 5px 0 0;
}
li.threeColumns div span{
	width:30%;
	margin:0 5px 0 0;
}
li.notStacked div span{
	width:auto;
	margin:0 7px 0 0;
}

/* ----- Location Field Structures ----- */

form li.complex{
	padding-bottom:0;
}
form li.complex div span{
	width:auto;
	margin:0 .3em 0 0;
	padding-bottom:12px;
}
form li.complex div span.full{
	margin:0;
}
form li.complex div span.left, 
form li.complex div span.right{
	margin:0;
	width:48%;
}
form li.complex div span.full input, 
form li.complex div span.full select, 
form li.complex div span.left input, 
form li.complex div span.right input,
form li.complex div span.left select,
form li.complex div span.right select{
	width:100%;
}

/* ----- FLOATS ----- */

.left{
	float:left;
}
.right{
	float:right;
}
.clear{
	clear:both !important;
}

/* ----- TEXT DIRECTION ----- */

.rtl .info h2, .rtl .info div, .rtl label.desc, .rtl label.choice, 
.rtl div label, .rtl span label, .rtl input.text, 
.rtl textarea.textarea, .rtl select.select, .rtl p.instruct, 
.rtl .section h3, .rtl .section div, .rtl input.btTxt{
	direction:rtl;
}

/* ----- LABELS ----- */

form li div label, form li span label{
	margin:0;
	clear:both;
	font-size:85%;
	line-height:160%;
	color:#444;
	display:block;
}
label.desc{
	font-size:95%;
	font-weight:bold;
	color:#222;
	line-height:150%;
	margin:0;
	padding:0 0 3px 0;
	border:none;
	display:block;
}
label.choice{
	display:block;
	font-size:100%;
	line-height:150%;
	margin:-17px 0 0 23px;
	padding:0 0 5px 0;
	color:#222;
	width:88%;
}
.safari label.choice{
	margin-top:-16px;
}
form.rightLabel label.desc{
	padding-top:2px;
}

span.symbol{
	font-size:120%;
	line-height:135%;
}
form li .datepicker{
	float:left;
	margin:.19em 5px 0 0;
	padding:0;
	width: 16px;
	height: 16px;
	cursor:pointer !important;
}

/* ----- REQUIRED ----- */

form span.req{
	display:inline;
	float:none;
	color:red !important;
	font-weight:bold;
	margin:0;
	padding:0;
}

/* ----- MIN/MAX COUNT ----- */

form li div label var{
	font-weight:bold;
	font-style:normal;
}
form li div label .currently{
	display:none;
}

/* ----- FIELDS ----- */

input.text, input.file, textarea.textarea, select.select{
	font-family:"Lucida Grande", Tahoma, Arial, sans-serif;
	font-size:100%;
	color:#333;
	margin:0;
	padding:2px 0;
}
input.text, textarea.textarea, .entry input{
	border-top:1px solid #7c7c7c;
	border-left:1px solid #c3c3c3;
	border-right:1px solid #c3c3c3;
	border-bottom:1px solid #ddd;
	background:#fff url('/form_media/images/fieldbg.gif') repeat-x top;
}
select.select{
	padding:1px 0 0 0;
}

input.other{
	margin:0 0 8px 25px;
}



/* ----- SECTIONS ----- */

form li.section{
	clear:both;
	margin:0;
	padding:7px 0 0 0;
	width:auto !important;
	position:static;
}
form li.section h3{
	font-weight:normal;
	font-size:110%;
	line-height:135%;
	margin:0 0 3px 0;
	width:auto;
	padding:12px 1% 0 1%;
	border-top:1px dotted #ccc;
}
form li.first{
	padding:0;
}
form li.first h3{
	padding:8px 1% 0 1%;
	border-top:none !important;
}
form li.section div{
	display:block;
	width:auto;
	font-size:85%;
	line-height:160%;
	margin:0 0 1em 0;
	padding:0 1% 0 1%;
}

/* ----- CAPTCHA ----- */

form li.captcha {
	clear:both;
	border-top:1px dotted #ccc;
	margin-top:5px;
	padding:1.1em 1% 9px 1%;
	width:auto !important;
	position:static;
}
form li.captcha label.desc{
	text-align:left;
	margin-bottom:4px;
	float:none;
	width:auto !important;
}
#recaptcha_widget_div table{
	background:#fff;
}
form li.captcha .noscript iframe{
	border:none;
	overflow:hidden;
	margin:0;
	padding:0;
}
form li.captcha .noscript label.desc{
	display:block !important;
}
form li.captcha .noscript textarea{
	margin-left:12px;
}

/* ----- ERRORS ----- */

#errorLi{
	width:99%;
	margin:15px auto 5px auto;
	background:#fff !important;
	border:1px solid red;
	text-align:center;
	padding:1em 0 1em 0;
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
}
#errorMsgLbl{
	margin:0 0 5px 0;
	padding:0;
	font-size:125%;
	color:#DF0000 !important;
}
#errorMsg{
	margin:0 0 2px 0;
	color:#000 !important;
	font-size:100%;
}
#errorMsg strong{
	padding:2px 8px;
	background-color: #FFDFDF !important;
	color:red !important;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
}
form li.error{
	display:block !important;
	background-color: #FFDFDF !important;
	margin-bottom:3px !important;
}
form li label.error, form li input.error{
	color:#DF0000 !important;
	font-weight:bold !important;
}
form li input.error{
	background:#fff !important;
	border:2px solid #DF0000 !important;
}


form li.error label, form li.error span.symbol{
	color:#000 !important;
}
form li.error label.desc{
	color:#DF0000 !important;
}
form p.error{
	display:none;
	margin:0 !important;
	padding:7px 0 0 0 !important;
	line-height:10px !important;
	font-weight:bold;
	font-size:11px;
	color:#DF0000 !important;
	clear:both;
}
form li.error p.error{
	display:block;
}
form li.complex p.error{
	padding:0 0 9px 0 !important;
}