{% extends "base.html" %}
{% load custom_filters %}

{% block title %} {{block.super}}| Form Builder {% endblock %}

{% block left-section %}
<div id="form-designer">
	<div id="form-tabs" class="formTabs">
		<ul>
			{% url  form_template_edit form_id=form_template.id as nav_link %}
			<li class="{% active request nav_link %}"><a href="{% url form_template_edit form_id=form_template.id %}">Add Field</a></li>
			{% url  form_settings_update form_id=form_template.id as nav_link %}
			<li class="{% active request nav_link %}" ><a href="{% url form_settings_update form_id=form_template.id %}">Form Settings</a></li>
		</ul>	
	</div>
	<div class="formControls">
			{% block form-controls %}{% endblock %}
	</div>
</div>
{% endblock %}

{% block content %}
<div class="wufoo">
	<div class="info">
		<h2>{{form_template.title}}</h2>
		<div>{{ form_template.description }}</div>
	</div>
	<ul id="qn_items" class="sortable">
		{% for item_form in item_forms %}
			{{ item_form.as_template }}
		{% endfor %}
	</ul>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">

$(function() {
	// floating fixed form designer 
	var top = $('#form-designer').offset().top - parseFloat($('#form-designer').css('margin-top').replace(/auto/, 0));
	$(window).scroll( function () {
		var msie6 = $.browser == 'msie' && $.browser.version < 7;
		if (!msie6) {
		  // y position of the scroll is
			var y = $(this).scrollTop();
			if (y >= top) {
				// if so, ad the fixed class
				$('#form-designer').addClass('fixed');
			} else {
				// otherwise remove it
				$('#form-designer').removeClass('fixed');
			}
		}
	});
});	

$(function() {
	//disable all input fields in survey edit mode
	$('#surveyForm input[type=text]').each(function (){
		$(this).attr("disabled", "disabled");
	});
});

$(function() {
// 		    var pos_top = $('#left').position().top;
// 	$('.updField').live('click', function() {
// 			var pos_bot = $('#footer').position().top;
// 			var pos_new = $(this).position().top;
// 			var q_form_pos = pos_top-pos_top;
// 			var itemId = $(this).attr("id");
// 			var fieldId = itemId.substring('updlstItem'.length);
// 			// console.log("pos_top:%s pos_bot:%s pos_new:%s q_form_pos:%s itemId:%s
//			// fieldId:%s",pos_top, pos_bot, pos_new, q_form_pos, itemId, fieldId);
// 			$('#form-designer').animate(
// 				{ marginTop: q_form_pos },
// 				350,
// 				function() {
// 					$.ajax({
// 						type: "GET",
// 						url: "{% url update_field_ajax form_id=form_template.id %}"+fieldId,
// 						// data: q_ids.serialize(),
// 						// dataType: "json",
// 						success: function(q_data){
// 							$("div.editField").html(q_data);
// 							$(".formTabs ul li").removeClass("active"); //Remove any "active" class
// 							$(".tab_content").hide(); //Hide all tab content
// 							$("div.editField").fadeIn(); //Fade in the active ID content
//  							// alert(q_data);
//  							// $(".formControls").append("<div id='upField'>"+q_data+"</div>");
// 						},
// 						error: function(xhr, ajaxOptions, thrownError) {
// 							alert(xhr + ' ' + ajaxOptions + ' ' + thrownError);
// 						},
// 						complete: function() {
// 							//alert('finished');
// 						}
// 					});
// 				}
// 			);
// 		return false;
//	 });

// $("textarea#id_text").keyup( function () {
// 	var value = $(this).val();
// 	var qlabel = $('#updateForm input.questionId').val();
// 	$("#qLabel_"+qlabel+" label").text(value);
// 	}).keyup();

	//make question list sortable
	$(".sortable").sortable({
		opacity: 0.7,
		revert: false,
		axis: 'y',
		scroll: true,
		handle: '.handle',
		update: function() {
				var fieldOrder = $(this).sortable('serialize', {key:'field'});
				$.ajax({
					type: "POST",
					data: fieldOrder,
					url: "{% url update_field_order form_id=form_template.id %}",
					success: function(status){
					//	alert(status)
					},
					error: function(xhr, ajaxOptions, thrownError) {
						alert(xhr + ' ' + ajaxOptions + ' ' + thrownError);
					},
					complete: function() {
						//alert('finished');
					}
				});
			}
		});
	
	// $('.sortable').disableSelection();

	// handles the slidedown effect for the choice list
	// $('select.choice_select').live('change', function () {
	// 	//alert('change');
	// 	var fieldtype = $(this).val();
	// 	if (fieldtype in {'radio_list':'','checkbox_list':'','select_box':''}) {
	// 		$('.choices').slideDown('slow');
	// 		}
	// 	else {
	// 		$('.choices').slideUp('slow');
	// 		}
	// 	});
	// 	

	//Tab code when page loads...
	// $(".tab_content").hide(); //Hide all content
	// $(".formTabs ul li:first").addClass("active").show(); //Activate first tab
	// $(".tab_content:first").show(); //Show first tab content
	// $(".formTabs ul li").click(function() {
	// 	$(".formTabs ul li").removeClass("active"); //Remove any "active" class
	// 	$(this).addClass("active"); //Add "active" class to selected tab
	// 	$(".tab_content").hide(); //Hide all tab content
	// 	var activeTab = $(this).find("a").attr("href"); //Find the href attribute value to identify the active tab + content
	// 	$(activeTab).fadeIn(); //Fade in the active ID content
	// 	return false;
	// });

	//activate delete button 
	$('.delField').live('click',function() {
		var itemId = $(this).attr("id");
		var fieldId = itemId.substring('dellstItem'.length);
			$.ajax({
				url: "{% url delete_field form_id=form_template.id %}/"+fieldId,
				cache: false,
				success: function(html){
						$("#bar_"+fieldId).fadeOut('slow',function() {$(this).remove();});
				},
				error: function(xhr, ajaxOptions, thrownError) {
					alert(xhr + ' ' + ajaxOptions + ' ' + thrownError);
				},
				complete: function() {
					//alert('finished');
				}
			});
		return false;
	});

});
</script>
<script type="text/javascript">
$(function () {

	var num_choice_elms = $('.choices > li').size();

	// multiple choice field actions
	// add extra input field for choices
	$("#addChoice").live('click',function() {
		var $elm_parent= $(this).parent();
		if($elm_parent.get(0).tagName == 'LI'){
			var $new_item = $elm_parent.clone();
			$new_item.find('input').attr('name', 'newChoices').val('');
			$new_item.hide().insertAfter($elm_parent).slideDown('slow');
			num_choice_elms++;
		}
		else {
			alert("parent element is not 'LI'");
		}
		return false;
	});

	// remove choice input from page, mark as deleted
	$("#delChoice").live('click',function() {
		$elm_parent = $(this).parent()
		$target_choice = $elm_parent.find("input");
		$elm_parent.fadeOut('slow', function() {
			if ($target_choice.attr("name") !== "newChoices"){
				$('<input />').attr({
					'type': 'hidden',
					'name': 'delChoices', 
					'value': $target_choice.attr("name") 
				}).appendTo($elm_parent);
				$target_choice.remove();
			}
			else{
					$elm_parent..empty().remove();
			}
			num_choice_elms--;
			if (num_choice_elms < 1) {
				$("<li><input type=\"text\" name=\"newChoices\" class=\"choices\">\
				<a style=\"width: 25px;\" class=\"uiButton\" id=\"addChoice\"><b>+</b></a>\
				<a style=\"width: 25px;\" class=\"uiButton\" id=\"delChoice\"><b>-</b></a>\
				</li>").appendTo($('.choices'));
				num_choice_elms++;
			}
		});
		return false;
	});
});
</script>
{% endblock %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="/form_media/css/theme.css" type="text/css" />
<style>
#content{
	width: 760px;
}

.inner-content {
	width: 94%;
}
#content {
	margin-left: 300px;
	width:678px;
}

#left {
	width:300px;
	padding-top: 0;
}
</style>
{% endblock %}