<li class="sortable_item" id="bar_{{ question_obj.id }}">
	<img src="/form_media/images/arrow.png" alt="move" width="16" height="16" class="icon handle" />
	<span id="qn_attr" class="icon">
		<a href="{{ survey.get_absolute_url }}/update/{{ question_obj.id }}" id="updlstItem{{ question_obj.id }}" class="updField"><img class="icon_button" src="/form_media/images/edit.png"/></a>
		<a href="{{ survey.get_absolute_url }}/delete/{{ question_obj.id }}" id="dellstItem{{ question_obj.id }}" class="delField"><img class="icon_button" src="/form_media/images/delete.gif"/></a>
	</span>
	<span id="qLabel_{{ form_pair.q_id }}" class="qlabel">{{ question_obj.answer.label_tag }}</span>
	<span class="helpText">{{ question_obj.hint }}</span>
	<div class="options">{{ question_obj.answer }}</div>
</li>
