{% extends "form_engine/base_designer.html" %}

{% block form-controls %}
<div id="addField" class="tab_content">
	<form id="addFieldForm" name="question" autocomplete="on" method="post" method="post" action="">
		{% csrf_token %}
		<div id="entry" class="form">
			<ul>
			{% for field in question_form  %}
				<li class="form_field">
					{% if not field.is_hidden and field.label %} 
					<label for="">{{ field.label }}<label> 
					{% endif %} 
					{{ field }}
				</li>
				{% if field.errors %}
				<li>
					{{ field.errors }}
				</li>
				{% endif %}
			{% endfor %}
				<li><button type="submit" id="saveQuestion" name="saveForm" class="btTxt submit" >save</button></li>
			</ul>
		</div>
	</form>
</div>
{% endblock %}